install
text
reboot
lang en_US.UTF-8
keyboard us
network --bootproto=static --ip=__IP__ --netmask=255.255.255.0 --gateway=192.168.2.1 --nameserver=192.168.2.1 --hostname=__HOSTNAME__
rootpw yourpasswordhere
firewall --enabled --ssh
timezone --utc America/Los_Angeles
bootloader --location=mbr --append="console=tty0 console=ttyS0,115200 rd_NO_PLYMOUTH"
zerombr
clearpart --all --initlabel
autopart

%packages
@core
net-tools
tar
tmux
%end
